

.crow {
  // 实现背景色
  // &::before {
  //   content: '';
  //   display: block;
  //   width: 100vw;
  //   height: 100vh;
  //   position: fixed;
  //   z-index: -1;
  //   top: 0;
  //   left: 0;
  //   background-color: #ba94de;
  // }

  // 静态位置
  .shard-wrap:nth-child(1) .shard { clip-path: polygon(32.8% 58%, 38.4% 61.2%, 12.2% 81.5%); background-color: rgb(238, 229, 217); }
  .shard-wrap:nth-child(2) .shard { clip-path: polygon(21.9% 67.8%, 33.5% 57.9%, 26% 61.7%); background-color: rgb(50, 40, 29); }
  .shard-wrap:nth-child(3) .shard { clip-path: polygon(23.7% 62.9%, 39.2% 42.8%, 50.8% 49.8%); background-color: rgb(60, 51, 41); }
  .shard-wrap:nth-child(4) .shard { clip-path: polygon(33.3% 58.3%, 45.8% 57.1%, 45.3% 66.9%); background-color: rgb(221, 215, 201); }
  .shard-wrap:nth-child(5) .shard { clip-path: polygon(38.6% 42.9%, 56.4% 33.8%, 49.9% 50.2%); background-color: rgb(75, 65, 59); }
  .shard-wrap:nth-child(6) .shard { clip-path: polygon(32.3% 58.7%, 50% 49.9%, 61% 55.3%); background-color: rgb(48, 39, 23); }
  .shard-wrap:nth-child(7) .shard { clip-path: polygon(45.6% 73.6%, 48.6% 70%, 49.3% 71.2%); background-color: rgb(147, 31, 0); }
  .shard-wrap:nth-child(8) .shard { clip-path: polygon(52.5% 74.8%, 52.2% 78.4%, 50.7% 72.3%); background-color: rgb(116, 74, 15); }
  .shard-wrap:nth-child(9) .shard { clip-path: polygon(52.5% 74.8%, 47.6% 65.8%, 45.7% 66.9%); background-color: rgb(214, 81, 0); }
  .shard-wrap:nth-child(10) .shard { clip-path: polygon(47.5% 65.8%, 49% 64.6%, 54.7% 71.8%); background-color: rgb(174, 68, 28); }
  .shard-wrap:nth-child(11) .shard { clip-path: polygon(52.9% 70.4%, 54.5% 74.8%, 54.5% 71.5%); background-color: rgb(147, 31, 0); }
  .shard-wrap:nth-child(12) .shard { clip-path: polygon(45.5% 57.13%, 60.8% 55.3%, 44.5% 68.4%); background-color: rgb(244, 251, 243); }
  .shard-wrap:nth-child(13) .shard { clip-path: polygon(60.7% 55.3%, 57.6% 57.7%, 46.6% 56.9%); background-color: rgb(238, 229, 217); }
  .shard-wrap:nth-child(14) .shard { clip-path: polygon(49.7% 50.5%, 55.7% 34.3%, 68.5% 40.9%); background-color: rgb(86, 74, 66); }
  .shard-wrap:nth-child(15) .shard { clip-path: polygon(43.4% 35.7%, 55.8% 34.3%, 36.9% 44.3%); background-color: rgb(86, 74, 66); }
  .shard-wrap:nth-child(16) .shard { clip-path: polygon(49.7% 50.1%, 68.4% 40.8%, 61.36% 56.4%); background-color: rgb(75, 65, 59); }
  .shard-wrap:nth-child(17) .shard { clip-path: polygon(55.4% 34.3%, 56.3% 21.7%, 59.9% 36.6%); background-color: rgb(48, 39, 23); }
  .shard-wrap:nth-child(18) .shard { clip-path: polygon(56.3% 21.7%, 60.3% 19.5%, 59.8% 36.8%); background-color: rgb(75, 50, 37); }
  .shard-wrap:nth-child(19) .shard { clip-path: polygon(57.6% 27.3%, 60.3% 19.2%, 59.9% 36.8%); background-color: rgb(164, 38, 19); }
  .shard-wrap:nth-child(20) .shard { clip-path: polygon(60.3% 19.5%, 68.9% 24.8%, 59.85% 36.96%); background-color: rgb(195, 74, 42); }
  .shard-wrap:nth-child(21) .shard { clip-path: polygon(64.8% 13.2%, 76.85% 14%, 72.5% 27.1%); background-color: rgb(203, 76, 58); }
  .shard-wrap:nth-child(22) .shard { clip-path: polygon(55.4% 22.3%, 62.9% 11%, 67.63% 15.7%); background-color: rgb(68, 44, 30); }
  .shard-wrap:nth-child(23) .shard { clip-path: polygon(60% 36.4%, 65.2% 29.8%, 68.5% 41%); background-color: rgb(210, 101, 73); }
  .shard-wrap:nth-child(24) .shard { clip-path: polygon(64% 31.4%, 66.2% 28.3%, 68.5% 41%); background-color: rgb(207, 123, 91); }
  .shard-wrap:nth-child(25) .shard { clip-path: polygon(60.3% 19.5%, 67.7% 15.5%, 72.6% 27.4%); background-color: rgb(217, 80, 50); }
  .shard-wrap:nth-child(26) .shard { clip-path: polygon(66.3% 28.3%, 72.3% 27.2%, 68.9% 24.8%); background-color: rgb(186, 60, 10); }
  .shard-wrap:nth-child(27) .shard { clip-path: polygon(68.27% 27.9%, 72.74% 27%, 71.3% 30.4%); background-color: rgb(202, 138, 90); }
  .shard-wrap:nth-child(28) .shard { clip-path: polygon(72.5% 27.4%, 76.82% 14.1%, 75.4% 25.14%); background-color: rgb(227, 215, 133); }
  .shard-wrap:nth-child(29) .shard { clip-path: polygon(72.5% 27.2%, 75.4% 24.3%, 80.1% 34.1%); background-color: rgb(220, 200, 120); }
  .shard-wrap:nth-child(30) .shard { clip-path: polygon(72.6% 27.2%, 80.1% 34.05%, 71.3% 30.35%); background-color: rgb(228, 180, 84); }
  .shard-wrap:nth-child(31) .shard { clip-path: polygon(39% 87.5%, 41.7% 76.4%, 43.4% 78.6%); background-color: rgb(58, 34, 40); }
  .shard-wrap:nth-child(32) .shard { clip-path: polygon(41.5% 76.5%, 60% 63.7%, 43.3% 78.7%); background-color: rgb(74, 48, 66); }
  .shard-wrap:nth-child(33) .shard { clip-path: polygon(75.5% 30.5%, 75.5% 30.5%, 75.5% 30.5%); background-color: rgb(58, 34, 40); }

  // 延迟时间要设置在这里，不然删掉类时也会被删掉
  .shard-wrap:nth-child(1) .shard,
  .shard-wrap:nth-child(2) .shard,
  .shard-wrap:nth-child(3) .shard,
  .shard-wrap:nth-child(6) .shard {transition-duration: .1s;}
  .shard-wrap:nth-child(20) .shard,
  .shard-wrap:nth-child(21) .shard,
  .shard-wrap:nth-child(25) .shard,
  .shard-wrap:nth-child(26) .shard,
  .shard-wrap:nth-child(27) .shard,
  .shard-wrap:nth-child(28) .shard,
  .shard-wrap:nth-child(29) .shard,
  .shard-wrap:nth-child(30) .shard,
  .shard-wrap:nth-child(33) .shard {transition-duration: .4s;}
  
  // 尾巴
  &.animal-move-one .shard-wrap:nth-child(1) .shard { clip-path: polygon(32.8% 58%, 38.4% 61.2%, 12.2% 77.5%); }
  &.animal-move-one .shard-wrap:nth-child(2) .shard { clip-path: polygon(21.9% 66.8%, 34.5% 55.9%, 27% 59.7%); }
  &.animal-move-one .shard-wrap:nth-child(3) .shard { clip-path: polygon(22.7% 61.9%, 39.2% 42.8%, 50.8% 49.8%); }
  &.animal-move-one .shard-wrap:nth-child(6) .shard { clip-path: polygon(30.3% 58.6%, 50% 49.9%, 61% 55.3%); }
  
  /* 可以通过纯 CSS 实现抖动，但复杂了 
  .shard-wrap:nth-child(1) .shard { animation: tailMove 2s infinite ease-in; }
  @keyframes tailMove { 0%{clip-path: polygon(32.8% 58%, 38.4% 61.2%, 12.2% 81.5%);} 5%{clip-path: polygon(32.8% 58%, 38.4% 61.2%, 12.2% 77.5%);} 15%{clip-path: polygon(32.8% 58%, 38.4% 61.2%, 12.2% 81.5%);} 20%{clip-path: polygon(32.8% 58%, 38.4% 61.2%, 12.2% 77.5%);} 35%{clip-path: polygon(32.8% 58%, 38.4% 61.2%, 12.2% 81.5%);} }
  */
  
  // 头部
  &.animal-move-two .shard-wrap:nth-child(29) .shard { clip-path: polygon(72.5% 27.2%, 75.4% 24.3%, 80.1% 31%); }
  &.animal-move-two .shard-wrap:nth-child(30) .shard { clip-path: polygon(72.6% 27.2%, 78.2% 35.15%, 71.3% 30.35%); }
  &.animal-move-two .shard-wrap:nth-child(33) .shard { clip-path: polygon(76.5% 32.6%, 77.5% 29.7%, 78.9% 32.9%); }
  &.animal-move-three .shard-wrap:nth-child(20) .shard { clip-path: polygon(60.3% 19.5%, 69.2% 24.5%, 59.85% 36.96%); }
  &.animal-move-three .shard-wrap:nth-child(21) .shard { clip-path: polygon(64.8% 13.2%, 75.45% 13%, 73.5% 27.1%); }
  &.animal-move-three .shard-wrap:nth-child(25) .shard { clip-path: polygon(60.3% 19.5%, 67.7% 15.5%, 73.6% 27.2%); }
  &.animal-move-three .shard-wrap:nth-child(26) .shard { clip-path: polygon(66.3% 28.5%, 73.4% 26.8%, 69.1% 24.6%); }
  &.animal-move-three .shard-wrap:nth-child(27) .shard { clip-path: polygon(68.27% 28.1%, 73.44% 26.6%, 73.3% 30.6%); }
  &.animal-move-three .shard-wrap:nth-child(28) .shard { clip-path: polygon(73.6% 27.1%, 75.52% 12.8%, 75.8% 22.34%); }
  &.animal-move-three .shard-wrap:nth-child(29) .shard { clip-path: polygon(73.5% 26.8%, 75.4% 22.3%, 82% 27.7%); }
  &.animal-move-three .shard-wrap:nth-child(30) .shard { clip-path: polygon(73.5% 26.9%, 80.4% 32.15%, 73.15% 30.55%); }
  &.animal-move-three .shard-wrap:nth-child(33) .shard { clip-path: polygon(78.1% 30.1%, 79.2% 27.6%, 80.7% 30%); }
}


