.btn {
  display: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  width: 140px;
  height: 320px;
}

.btn .prev,
.btn .next {
  width: 76px;
  height: 76px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto auto;
  cursor: pointer;
  transition: .14s;
}

.btn .prev:hover,
.btn .next:hover {
  transform: scale(1.1);
}

.btn .prev .nav-btn,
.btn .next .nav-btn {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../assets/green-texture.png") repeat center center/40px 40px;
  border-radius: 50%;
  position: relative;
  background-color: #ba94de;
  transition: background-color 2s;
}

.btn .prev .nav-btn::after,
.btn .next .nav-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto auto;
  border-radius: 100%;
  width: 80%;
  height: 80%;
  background-color: inherit;
}

.btn .prev .nav-btn .arrow,
.btn .next .nav-btn .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  margin-left: -14px;
  transition: .13s .1s;
}

.btn .prev .nav-btn .arrow::before, .btn .prev .nav-btn .arrow::after,
.btn .next .nav-btn .arrow::before,
.btn .next .nav-btn .arrow::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 14px;
  border-radius: 4px;
  background-image: url("../assets/repeat-white.png");
  transform-origin: 50% 100%;
}

.btn .prev {
  top: 0px;
}

.btn .prev .arrow {
  margin-top: -12px;
}

.btn .prev .arrow::before {
  transform: rotate(45deg);
}

.btn .prev .arrow::after {
  transform: rotate(-45deg);
}

.btn .prev:hover .arrow {
  transform: translateY(-4px);
}

.btn .next {
  bottom: 0px;
}

.btn .next .arrow {
  margin-top: -16px;
}

.btn .next .arrow::before {
  transform: rotate(135deg);
}

.btn .next .arrow::after {
  transform: rotate(-135deg);
}

.btn .next:hover .arrow {
  transform: translateY(4px);
}

.btn img {
  width: 140px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  transition: .3s;
}

.btn img:hover {
  transform: translateY(-50%) scale(1.1);
}
